<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Nacre</title>
    <link rel="shortcut icon" href="/img/Favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <img src="/img/Logotipo.png" alt="Nacre Logo" class="logo">
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Skills</a>
                <ul class="submenu">
                    <li><a href="#">React</a></li>
                    <li><a href="#">Svelte</a></li>
                    <li><a href="#">VueJs</a></li>
                </ul>
            </li>
            <li><a href="#">Work</a></li>
        </ul>
        <span class="material-symbols-outlined">menu</span>
    </nav>

    <section class="products">
        <h1>Our Products</h1>
        <div class="product-list">
            <div class="product-card">
                <img src="/img/747f57babfbe29da38c029da087640a4.jpg" alt="Product 1" class="product-image">
                <h2>Product Name 1</h2>
                <p>Brief description of the product.</p>
                <p class="price">$19.99</p>
                <button class="add-to-cart-button">Add to Cart</button>
            </div>
            <div class="product-card">
                <img src="/img/d6c7bb7b0a4fe83a92a7d1afea373a43.jpg" alt="Product 2" class="product-image">
                <h2>Product Name 2</h2>
                <p>Brief description of the product.</p>
                <p class="price">$29.99</p>
                <button class="add-to-cart-button">Add to Cart</button>
            </div>
            <div class="product-card">
                <img src="/img/product3.jpg" alt="Product 3" class="product-image">
                <h2>Product Name 3</h2>
                <p>Brief description of the product.</p>
                <p class="price">$39.99</p>
                <button class="add-to-cart-button">Add to Cart</button>
            </div>
            
        </div>
    </section>
</body>
</html>
