<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Nacre{% endblock %}</title>
    <link rel="shortcut icon" href="/img/Logotipo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <nav>
        <h1>Nacre</h1>
        <ul class="menu">
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Skills</a>
                <ul class="submenu">
                    <li><a href="#">React</a></li>
                    <li><a href="#">Svelte</a></li>
                    <li><a href="#">VueJs</a></li>
                </ul>
            </li>
            <li><a href="#">Work</a></li>
        </ul>
        <span class="material-symbols-outlined">menu</span>
    </nav>

    <div class="content">
    </div>
    
    {% block content %}{% endblock %}
</body>
</html>
