<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Favicon.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='img/Logo web.svg') }}" alt="Logo" />
        </div>
        <ul class="menu">
            <li><a href="{{ url_for('home_no_logeado') }}">Home</a></li>
            <li><a href="{{ url_for('brazaletes') }}">Brazaletes</a></li>
            <li><a href="{{ url_for('collares') }}">Collares</a></li>
            <li><a href="{{ url_for('zarcillos') }}">Zarcillos</a></li>
        </ul>
        <div class="nav-icons">
            <a href="{{ url_for('carrito') }}">
                <img src="{{ url_for('static', filename='img/carrito.svg') }}" alt="Carrito" />
            </a>
            <a href="{{ url_for('me_gusta') }}">
                <img src="{{ url_for('static', filename='img/me_gusta.svg') }}" alt="Me Gusta" />
            </a>
        </div>
    </nav>
    <div class="main-content">
        <h1>Inicio de Sesión</h1>
        <form method="post" action="/templates/users/login.html">
            <input type="email" name="username" placeholder="Correo Electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>
