<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Favicon.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <div class="nav-logo">
            <img src="/img/Logo nacre.png" alt="Logo" />
        </div>
        <ul class="menu">
            <li><a href="{{ url_for('home_no_logeado') }}">Home</a></li>
            <li><a href="{{ url_for('brazaletes') }}">Brazaletes</a></li>
            <li><a href="{{ url_for('collares') }}">Collares</a></li>
            <li><a href="{{ url_for('zarcillos') }}">Zarcillos</a></li>
        </ul>
        <div class="nav-icons">
          <a href="{{ url_for('carrito') }}">
            <img src="/img/carro-vacio (1).png" alt="Carrito" />
        </a>
        <a href="{{ url_for('me_gusta') }}">
            <img src="/img/precioso.png" alt="Me Gusta" />
        </a>
        </div>
    </nav>
    <div class="main-content">
        <h1>Registro de Usuario</h1>
        <form method="post" action="/templates/users/register.html">
            <input type="text" name="cedula_identidad" placeholder="Cédula de Identidad" required>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <input type="email" name="correo_electronico" placeholder="Correo Electrónico" required>
            <input type="password" name="contrasena" placeholder="Contraseña" required>
            <button type="submit">Registrar</button>
            <a class="link-log" href="/templates/users/login.html">¿Ya estás registrado? Inicia sesión!</a>
        </form>
    </div>
</body>
</html>
