<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="shortcut icon" href="/img/Favicon (4).svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <nav>
      <link rel="stylesheet" href="/img/Logo web.svg">
      <ul class="menu">
        <li><a>About</a></li>
        <li>
          <a>Skills</a>
          <ul class="submenu">
            <li><a>React</a></li>
            <li><a>Svelte</a></li>
            <li><a>VueJs</a></li>
          </ul>
        </li>
        <li><a>Work</a></li>
      </ul>
      <span class="material-symbols-outlined"> menu </span>
    </nav>

    <div class="login-card">
        <h2>¡Registrate!</h2>
        <form class="login-form">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="number" placeholder="Número de telefono">
            <input type="text" placeholder="Correo electronico">
            <input type="password" placeholder="Password" />
          <button type="submit" >Login</button>
        </form>
    </div>
  </body>
</html>
